@import 'util-classes';

a {
  color: $primary-color;
  text-decoration: none;
  transition: color 0.3s ease, background-color 0.3s ease;
  &:focus, &:active {
    color: $accent-color;
  }
  &:hover {
    text-decoration: none;
    color: $accent-color;
  }
  &:focus{
    text-decoration: none;
    outline: none;
  }
}

.button{
  background-color: $accent-color;
  @include border-radius;
  &:hover, &:focus,{
    background-color: $accent-color-dark;
  }
  padding-left: $global-padding * 1.5; 
  padding-right: $global-padding * 1.5; 
}

.header{
  padding-top: 10px;
  padding-bottom: 10px;
}
.logo{
  display: block;
  height: 40px;
  width: auto;
}
.main-navigation{
  ul{
    margin-bottom: 0;
    list-style-type: none;
    margin-left: 0;
  }

  a{
    padding-left: 20px;
    padding-right: 20px;
    display: inline-block;
    line-height: 40px;
    height: 40px;
  }
  @include breakpoint(medium) {
    text-align: right;
    li{
      display: inline-block;
    }
  }
}

.hero{
  text-align: center;
  padding-top: $global-padding * 3; 
  padding-bottom: $global-padding * 2;
  overflow: hidden;
  background-size: cover;
  background-position: center center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.7)), url("../images/hero-bg-image.jpg");
  color: white;
  h1{
    width: 65%;
    text-align: center;
    margin: 0 auto 25px;
    line-height: 1.1em
  }
  p{
    font-size: 20px;
    line-height: 1.4em;
  }
}

.slick-dots li button:before{
  color: $accent-color;
}
.slick-dots li.slick-active button:before{
  color: $accent-color;
}
span.dtt {
  font-size: 1.25em;
  display: block;
  margin-top: 10px;
}
.separator{
  display: block;
  height: 5px;
  width: 30%;
  margin: 20px auto;
  @include border-radius;
  background-color: $accent-color;
}

.value{
  text-align: center;
  padding-top: $global-padding * 2;
  padding-bottom: $global-padding * 2;
  h2{
    margin: 0 auto $global-margin / 2;
    color: $accent-color;
  }
  h4{
    color: $primary-color;
  }
  img{
    width: 250px;
    margin-bottom: $global-margin / 2;
  }
  img path {
    fill: green !important;
  }
  .separator{
    background-color: $primary-color;
  }
}

$diagonal-gradient-color-one: $primary-color;
$diagonal-gradient-color-two: #2c3e50;

@mixin diagonal-gradient{
  background: $diagonal-gradient-color-one; /* For browsers that do not support gradients */
  background: linear-gradient(to bottom right, $diagonal-gradient-color-one, $diagonal-gradient-color-two); /* Standard syntax */
}

.contact{
  background-color: $primary-color;
  padding-top: $global-padding * 2;
  padding-bottom: $global-padding * 2;
  text-align: center;
  color: white;
  .phone-num{
    color: $accent-color;
    font-size: 2em;
    &:hover{
      color: $accent-color-dark;
    }
    &:before {
      font-family: FontAwesome;
      font-weight: normal;
      font-style: normal;
      display: inline-block;
      font-size: 0.85em;
      margin-right: 10px;
      color: #fff;
      text-decoration: inherit;
      content: "\f095";
    }
  }
}

#about-us{
  .icon{
    max-width: 150px;
  }
}
#my-form{
  margin-top: 10px;
}
.locations{
  color: $accent-color;
}
.footer{
  padding-top: $global-padding;
}