$global-padding: 20px;
$global-margin: 20px;

// Colors
$navy: #050055;
$gold: #C9A533;

$primary-color: $navy;
$accent-color: $gold;

$accent-color-light: lighten($accent-color,15%);
$accent-color-dark: darken($accent-color,15%);

// $color: #3cb878;
// $light: lighten($color,15%);
// $dark: darken($color,15%);
// $lighter: lighten($color,30%);
// $darker: darken($color,30%);

$global-border-radius: 4px;

@mixin border-radius{
  border-radius: $global-border-radius;
}

@font-face {
    font-family: JosefinSans;
    src: url(../fonts/JosefinSans/JosefinSans-Regular.ttf);
    font-weight:normal;
}

@font-face {
    font-family: OpenSans;
    src: url(../fonts/OpenSans/OpenSans-Regular.ttf);
    font-weight:normal;
}

$body-font: 'OpenSans', sans-serif;
$header-font: 'JosefinSans', sans-serif;